In [3]:
# Step 0. Load libraries and custom functions
import duckdb
import pandas as pd

In [4]:
# Step 1. Load the dataset
# 1.1 Read csv from webpage
df = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')

In [6]:
# 1.2 Get the basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330696 entries, 0 to 330695
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    330696 non-null  object
 1   continent                                   315000 non-null  object
 2   location                                    330696 non-null  object
 3   date                                        330696 non-null  object
 4   total_cases                                 293300 non-null  float64
 5   new_cases                                   321633 non-null  float64
 6   new_cases_smoothed                          320374 non-null  float64
 7   total_deaths                                272174 non-null  float64
 8   new_deaths                                  321700 non-null  float64
 9   new_deaths_smoothed                         320470 non-null  float64
 10  total_cases_per_million                     293300 non-null  float64
 11  new_cases_per_million                       321633 non-null  float64
 12  new_cases_smoothed_per_million              320374 non-null  float64
 13  total_deaths_per_million                    272174 non-null  float64
 14  new_deaths_per_million                      321700 non-null  float64
 15  new_deaths_smoothed_per_million             320470 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                36994 non-null   float64
 18  icu_patients_per_million                    36994 non-null   float64
 19  hosp_patients                               37988 non-null   float64
 20  hosp_patients_per_million                   37988 non-null   float64
 21  weekly_icu_admissions                       9867 non-null    float64
 22  weekly_icu_admissions_per_million           9867 non-null    float64
 23  weekly_hosp_admissions                      22630 non-null   float64
 24  weekly_hosp_admissions_per_million          22630 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          77331 non-null   float64
 35  people_vaccinated                           74054 non-null   float64
 36  people_fully_vaccinated                     70604 non-null   float64
 37  total_boosters                              45744 non-null   float64
 38  new_vaccinations                            63660 non-null   float64
 39  new_vaccinations_smoothed                   174837 non-null  float64
 40  total_vaccinations_per_hundred              77331 non-null   float64
 41  people_vaccinated_per_hundred               74054 non-null   float64
 42  people_fully_vaccinated_per_hundred         70604 non-null   float64
 43  total_boosters_per_hundred                  45744 non-null   float64
 44  new_vaccinations_smoothed_per_million       174837 non-null  float64
 45  new_people_vaccinated_smoothed              174857 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  174857 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          280678 non-null  float64
 49  median_age                                  261029 non-null  float64
 50  aged_65_older                               251902 non-null  float64
 51  aged_70_older                               258413 non-null  float64
 52  gdp_per_capita                              255826 non-null  float64
 53  extreme_poverty                             164812 non-null  float64
 54  cardiovasc_death_rate                       256342 non-null  float64
 55  diabetes_prevalence                         269419 non-null  float64
 56  female_smokers                              192280 non-null  float64
 57  male_smokers                                189664 non-null  float64
 58  handwashing_facilities                      125570 non-null  float64
 59  hospital_beds_per_thousand                  226288 non-null  float64
 60  life_expectancy                             304193 non-null  float64
 61  human_development_index                     248491 non-null  float64
 62  population                                  330696 non-null  float64
 63  excess_mortality_cumulative_absolute        11507 non-null   float64
 64  excess_mortality_cumulative                 11507 non-null   float64
 65  excess_mortality                            11507 non-null   float64
 66  excess_mortality_cumulative_per_million     11507 non-null   float64
dtypes: float64(62), object(5)
memory usage: 169.0+ MB

In [7]:
# 1.3 Sample 10 observations
df.sample(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
178690,MHL,Oceania,Marshall Islands,2020-05-09,NaN,0.0,0.000,NaN,0.0,0.000,...,NaN,82.502,2.70,73.70,0.704,41593.0,NaN,NaN,NaN,NaN
130404,HUN,Europe,Hungary,2022-10-31,2141513.0,0.0,1289.000,47938.0,0.0,20.000,...,34.8,NaN,7.02,76.88,0.854,9967304.0,NaN,NaN,NaN,NaN
23675,BGD,Asia,Bangladesh,2020-05-11,15691.0,1034.0,792.571,239.0,11.0,8.143,...,44.7,34.808,0.80,72.59,0.632,171186368.0,NaN,NaN,NaN,NaN
80365,ECU,South America,Ecuador,2021-07-31,486544.0,871.0,832.000,31591.0,42.0,113.429,...,12.3,80.635,1.50,77.01,0.759,18001002.0,NaN,NaN,NaN,NaN
327744,YEM,Asia,Yemen,2022-09-01,11926.0,0.0,1.000,2155.0,0.0,0.000,...,29.2,49.542,0.70,66.12,0.470,33696612.0,NaN,NaN,NaN,NaN
59328,COL,South America,Colombia,2021-04-13,2536198.0,17483.0,12854.143,65889.0,281.0,256.429,...,13.5,65.386,1.71,77.29,0.767,51874028.0,NaN,NaN,NaN,NaN
203905,NCL,Oceania,New Caledonia,2021-05-05,124.0,0.0,0.000,NaN,0.0,0.000,...,NaN,NaN,NaN,77.55,NaN,289959.0,NaN,NaN,NaN,NaN
574,AFG,Asia,Afghanistan,2021-07-30,146523.0,527.0,440.571,6677.0,62.0,45.714,...,NaN,37.746,0.50,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
222926,PAK,Asia,Pakistan,2021-08-07,1058405.0,4745.0,4792.000,23702.0,67.0,58.143,...,36.7,59.607,0.60,67.27,0.557,235824864.0,NaN,NaN,NaN,NaN
143526,JAM,North America,Jamaica,2022-12-12,152669.0,0.0,6.429,3447.0,0.0,2.000,...,28.6,66.425,1.70,74.47,0.734,2827382.0,NaN,NaN,NaN,NaN

In [8]:
# 1.4 Let's use a SQL query to select the first 10 rows in the table
duckdb.query(
    "SELECT * FROM df LIMIT 10;"
)

┌──────────┬───────────┬─────────────┬───┬──────────────────────┬──────────────────┬──────────────────────┐
│ iso_code │ continent │  location   │ … │ excess_mortality_c…  │ excess_mortality │ excess_mortality_c…  │
│ varchar  │  varchar  │   varchar   │   │        double        │      double      │        double        │
├──────────┼───────────┼─────────────┼───┼──────────────────────┼──────────────────┼──────────────────────┤
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
│ AFG      │ Asia      │ Afghanistan │ … │                 NULL │             NULL │                 NULL │
├──────────┴───────────┴─────────────┴───┴──────────────────────┴──────────────────┴──────────────────────┤
│ 10 rows                                                                            67 columns (6 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [9]:
# 1.5 Show the results as a data frame
duckdb.query(
    "SELECT * FROM df LIMIT 10;"
).to_df()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-01-10,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-01-11,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [11]:
# 1.6 Retrieve the total number of deaths in Peru, until 31-12-2022
duckdb.query(
    "SELECT * FROM df WHERE location = 'Peru' LIMIT 10;"
).to_df()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,PER,South America,Peru,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,1.6,76.74,0.777,34049588.0,NaN,NaN,NaN,NaN
1,PER,South America,Peru,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,1.6,76.74,0.777,34049588.0,NaN,NaN,NaN,NaN
2,PER,South America,Peru,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,1.6,76.74,0.777,34049588.0,-154.10000,-5.39,-5.39,-4.626965
3,PER,South America,Peru,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,1.6,76.74,0.777,34049588.0,NaN,NaN,NaN,NaN
4,PER,South America,Peru,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,1.6,76.74,0.777,34049588.0,NaN,NaN,NaN,NaN
5,PER,South America,Peru,2020-01-08,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,NaN,1.6,76.74,0.777,34049588.0,NaN,NaN,NaN,NaN
6,PER,South America,Peru,2020-01-09,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,NaN,1.6,76.74,0.777,34049588.0,NaN,NaN,NaN,NaN
7,PER,South America,Peru,2020-01-10,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,NaN,1.6,76.74,0.777,34049588.0,NaN,NaN,NaN,NaN
8,PER,South America,Peru,2020-01-11,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,NaN,1.6,76.74,0.777,34049588.0,NaN,NaN,NaN,NaN
9,PER,South America,Peru,2020-01-12,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,NaN,1.6,76.74,0.777,34049588.0,-224.90001,-3.94,-2.49,-6.752787

In [15]:
duckdb.query(
    "SELECT SUM(new_deaths) AS total_deaths FROM df WHERE location = 'Peru' OR location = 'Guatemala' AND date <= '2022-12-31' LIMIT 10;"
).to_df()

   total_deaths
0      241364.0